

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Inscription</h2>
                    <form method="POST" action="/creer_compte">
                        <div class="row row-space"> 
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Nom</label>
                                    <input class="input--style-4" type="text" name="nom">
                                </div>
                                <div class="input-group">
                                    <label class="label">Matricule</label>
                                    <input class="input--style-4" type="number" name="matricule">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                           
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Catégories</label>
                                    <div class="select">
                                        <select class="browser-default custom-select" name="categorie" >
                                            <option>Sélectionner</option>
                                            <option value="trans">Trans</option>
                                            <option value="Prod1">Prod 1</option>
                                            <option value="Prod2">Prod 2</option>
                                            <option value="Prod3">Prod 3</option>
                                            <option value="Prod4">Prod 4</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="Password" name="password">
                                </div>
                            </div>
                            
                        </div>
                       
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Créer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->