<body>
        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Demande à Trans</h2>
                        <form method="POST" action="/demander_a_trans">
                            <div class="row row-space"> 
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Objet</label>
                                        <input class="input--style-4" type="text" name="objet" required>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row row-space">
                               
                                <div class="col-2">
                                    <div class="input-group">
                                        
                                        <div class="radio">
                                            <div class="col-2">
                                                <div class="input-group">
                                                    <label class="label">Priorités</label>
                                                    <div class="select">
                                                        <select class="browser-default custom-select" name="priorite" required>
                                                            <option>Selectionner</option>
                                                            <option value="P1">P1</option>
                                                            <option value="P2">P2</option>
                                                            <option value="P3">P3</option>
                                                          </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="col-2">
                                            <div class="input-group">
                                                <label class="label">Tache</label>
                                                <div class="select">
                                                    <select class="browser-default custom-select" name="tache" required>
                                                        <option>Selectionner</option>
                                                        <option value="recuperation">Récupération</option>
                                                        <option value="livraison">Livraison</option>
                                                        
                                                      </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="input-group">
                                        <label class="label">Code dossier</label>
                                        <input class="input--style-4" type="number" name="code" required>
                                    </div>
                                </div>
                            </div>
                            <div class="p-t-15">
                                    <button class="btn btn--radius-2 btn--blue" type="submit">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>